li(id='list-item-' + listItem.id, rel='#detail-view-content-item-' + listItem.id).list-items
	div.list-item-text
		div.list-item-title #{listItem.title}
		div.list-item-description !{listItem.description}