-scripts.push('app.page.newSchedule.js')
-styles.push('splitview.css')
#splitview-list-view
	#splitview-list-container
		#list-view-search-container
			input(type="text", value="Search...").round
			input(type="button", value="Add", name="splitview-add-btton", id="splitview-add-btton", rel="#add-to-schedule-form")
		ul.list-no-decorations
			!= partial('listItem', schedule)
#splitview-detail-view
	#detail-view-content
		p#detail-view-content-container
	#add-to-schedule-form.hidden.detailItems
		form(action="/ct/new/schedule", method="POST")
			h2 Patient Information
			p.clear-left
				label(for="new_schedule[patient]") Patient: 
				input(type="text", rel="/ct/autosuggest.json/patient", name="new_schedule[patient]", id="new-schedule-patient).autosuggest-text.autosuggest-needed.beautify
			h2.clear-left Study Information
			p.clear-left
				label(for='new_schedule[study]') Study: 
				input(type='text', name='new_schedule[study]', id='new-schedule-study', rel='/ct/autosuggest.json/studies').autosuggest-text.autosuggest-needed.beautify
			p.clear-left
				label(for='new_schedule[diagnosis]') Diagnosis: 
				input(type='text', name='new_schedule[diagnosis]', id='new-schedule-diagnosis', rel='/ct/autosuggest.json/diagnoses').autosuggest-text.autosuggest-needed.beautify
			p.clear-left
				label(for='new_schedule[date]') Date: 
				input(type='date', name='new_schedule[date]', id='new-schedule-date).beautify