-scripts.push('app.page.newSchedule.js')
-styles.push('splitview.css')
#splitview-list-view
	#splitview-list-container
		#list-view-search-container
			input(type="text", value="Search...").round
			input(type="button", value="Add", name="splitview-add-btton", id="splitview-add-btton", rel="#add-to-schedule-form")
		ul.list-no-decorations
			!= partial('listItem', schedule)
#splitview-detail-view
	#detail-view-content
		p#detail-view-content-container
	#add-to-schedule-form.hidden.detailItems.shadow
		form(action="/ct/new.json/schedule", method="POST", id="new-schedule-form")
			input(type='hidden', name='new_schedule[mytarget]', id='my_target', value='')
			input(type='hidden', name='new_schedule[year]', value=year)
			input(type='hidden', name='new_schedule[month]', value=month)
			input(type='hidden', name='new_schedule[day]', value=day)
			input(type='hidden', name='new_schedule[hour]',  id='new-schedule-hour', value='')
			input(type='hidden', name='new_schedule[minute]',  id='new-schedule-minute', value='')
			input(type='hidden', name='new_schedule[patient_id]', id='new-schedule-patient-id', value='')
			input(type='hidden', name='new_schedule[protocol_id]', id='new-schedule-protocol-id', value='')
			input(type='hidden', name='new_schedule[diagnosis_id]', id='new-schedule-diagnosis-id', value='')
			
			h2 Patient Information
			p.clear-left
				label(for="new_schedule[patient]") Patient: 
				input(type="text", rel="/ct/autosuggest.json/patient", name="new_schedule[patient]", id="new-schedule-patient", target='#new-schedule-patient-id').autosuggest-text.beautify.smart-autosuggest-needed
			h2.clear-left Study Information
			p.clear-left.little-padding
				label(for='new_schedule[study]') Study: 
				input(type='text', name='new_schedule[study]', id='new-schedule-protocol', rel='/ct/autosuggest.json/studies', target='#new-schedule-protocol-id').autosuggest-text.smart-autosuggest-needed.beautify
			p.clear-left
				label(for='new_schedule[diagnosis]') Diagnosis: 
				input(type='text', name='new_schedule[diagnosis]', id='new-schedule-diagnosis', rel='/ct/autosuggest.json/diagnoses', target='#new-schedule-diagnosis-id').autosuggest-text.smart-autosuggest-needed.beautify
			p.clear-left
				label(for='new_schedule[date]') Date: 
				input(type='date', name='new_schedule[date]', id='new-schedule-date').beautify
			p.clear-left
				label(for='new_schedule[time-display]') Time: 
				input(type='text', name='new_schedule[time-display]', id='new-schedule-time-display', disabled).beautify
			p.clear-left
				label &nbsp;
				input(type='submit', name='new_schedule[submit]', id='new-schedule-submit', value='SAVE').beautify
			p.clear-right &nbsp;