!!!
html
  head
    title= title
    -each style in styles
      link(rel='stylesheet', href='/stylesheets/' + style)
    -each script in scripts
      script(type='text/javascript', src='/javascripts/' + script)
  body#body
    != body