#overlay.simple_overlay.black.details
  ul
    li: img(src='/images/ct-icon.png', id='ct-icon', class='clickable-icons', rel='#ct-description')
    li: img(src='/images/mri-icon.png', id='mri-icon', class='clickable-icons', rel='#mri-description')
    li: img(src='/images/peds-icon.png', id='peds-icon', class='clickable-icons', rel='#peds-description')
    li: img(src='/images/jhall-icon.png', id='jhall-icon', class='clickable-icons', rel='#jhall-description')
    li: img(src='/images/dhall-icon.png', id='dhall-icon', class='clickable-icons', rel='#dhall-description')
  #ct-description.hidden
    p CT Scan forms include a bunch of stuff like:
    ul
      li item A
      li item A
      li item A
      li item A
  #mri-description.hidden
    p MRI Scan forms include a bunch of stuff like:
    ul
      li item A
      li item A
      li item A
      li item A
  #peds-description.hidden
    p Pediatric MRI Scan forms include a bunch of stuff like:
    ul
      li item A
      li item A
      li item A
      li item A
  #jhall-description.hidden
    p Interventional Radiology forms include a bunch of stuff like:
    ul
      li item A
      li item A
      li item A
      li item A
  #dhall-description.hidden
    p Ultrasound forms include a bunch of stuff like:
    ul
      li item A
      li item A
      li item A
      li item A