!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/effects.css')
    link(rel='stylesheet', href='/stylesheets/autoSuggest.css')
    script(type='text/javascript', src='/javascripts/jquery-1.5.js')
    script(type='text/javascript', src='/javascripts/jquery.tools.min.js')
    script(type='text/javascript', src='/javascripts/application.js')
    script(type='text/javascript', src='/javascripts/jquery.autoSuggest.js')
  body#body
    ul#navigation.shadow
      li: a(href="#", rel="#overlay") Area
      li: a(href="#")  Schedule
      li: a(href="#") Lookup
    #document-container.shadow
      -if(showHeader)
        #document-header
          h2 CT Nursing Contrast Sheet
          ul.float-right
            li LastName, FirstName
            li DOB - Age
            li MR# AB0000
           br.clear-left
      #document-body
        -if(typeof error !== "undefined")
          -if(error)
            ul#errors
              -each error in flash
                li= error
        != body
  -if(typeof error === "undefined")
    != partial('layover')