-styles.push('screen.css')
!!!
html
  head
    title= title
    -each style in styles
      link(rel='stylesheet', href='/stylesheets/' + style)
    -each script in scripts
      script(type='text/javascript', src='/javascripts/' + script)
    -if(typeof javascripts !== 'undefined')
      != partial('javascript', javascripts)
  body#body
    ul#navigation.shadow
      li: a(href="#", rel="#overlay") Area
      li: a(href="/ct/view/calendar")  Schedule
      li: a(href="#") Lookup
    #document-container.shadow
      -if(showHeader)
        #document-header
          h2 CT Nursing Contrast Sheet
          ul.float-right
            li LastName, FirstName
            li DOB - Age
            li MR# AB0000
           br.clear-left
      #document-body
        -if(typeof error !== "undefined")
          -if(error)
            ul#errors
              -each error in flash
                li= error
        != body
  -if(typeof error === "undefined")
    != partial('layover')