-styles.push('screen.css')
    -each style in styles
      link(rel='stylesheet', href='/stylesheets/' + style)
    #document-container.shadow
      #document-header
        h2 CT Nursing Contrast Sheet
        ul.float-right
          li #{patient.last_name}, #{patient.first_name}
          li #{patient.date_of_birth}
          li MR# #{patient.mrn}
         br.clear-left
      #document-body
        != body