@import url('../stylesheets/jquery.toastmessage.css');
@import url('/stylesheets/calendar-input.css');

.form-list ul{
	width: 50%;
}

.form-list input, label{
	float: left;
}

.form-list label {
	width: 10em;
}

.form-list input {
	margin-left: 2em;
	text-align: right;
}

.form-list br {
	clear: left;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

.beautify{
	border:1px solid #ccc;
	font-size:18px;
	padding:4px;
	width:180px;		
	-moz-box-shadow:0 0 10px #eee inset;	
}

.rip-dialog {
	display: none;
	background-image: url('../images/bg.jpg');	
	padding: 1em;
	margin-top: 1em;
	z-index: 10000;
}

.rip-modal {
	background-color: #FFF;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 1em;
}

.autosuggest-text {
	width: 60%;
	font-size: 18pt;
}

.autosuggest-options {
	font-size: 14pt;
}

/* the overlayed element */
.simple_overlay ul {
	list-style-type: none;
	padding: 0;
}

.simple_overlay li {
	display: inline;
}

.hidden {
	display: none;
}

/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url('../images/close-overlay.png');
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

div.contentWrap {
	height:441px;
	overflow-y:auto;
}

/* styling for elements inside overlay */
.details {
	font-size:11px;
	color:#fff;
}

.details h3 {
	color:#aba;
	font-size:15px;
	margin:0 0 -10px 0;
}

.no-border {
	border: 0 !important;
}

.no-bottom-border {
	border-bottom: 0 !important;
}

.yes-top-border {
	border-top: 1px solid #CFCFCF !important;
}

.width-100{
	width: 100%;
}

ul#errors{
	background-color: #FFFF99;
	border: 1px dashed #EFEFEF;
	color: #FF1122;
	font-weight: bold;
	list-style: none;
}

.list-no-decorations {
	list-style: none;
}

.list-flat {
	display: inline;
}

.rounded-corners {
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

.vertical-center {
	margin: 20% auto !important;
}

.expose {
	background-color: #000;
}

.subtle {
	display: none;
}

.no-padding-margin {
	padding: 0;
	margin: 0;
}

.auto-height {
	height: auto !important;
}