html, body {
	height: 100%;
	/**
	width: 100%;
	position: absolute;
	**/
}

body {
	margin: 0;
}

#splitview-list-view, #splitview-detail-view {
	height: 100%;
	z-index: 1;
}
/** split view **/

#splitview-list-view {
	float: left;
	border-right: 1px solid #EFEFEF;
	height: 100%;
	width: 20%;
	background-color: #BFBFBF;
}

#splitview-list-container {
	overflow: auto;
	height: 100%;
}

#splitview-list-view ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

#splitview-list-view li{
	border-bottom: 1px solid #CFCFCF;
	/*min-height: 3em;*/
	/*
	background: -webkit-gradient(linear, left top, left bottom, from(#E4F3FF), to(#9bb2d7));
	background: -moz-linear-gradient(top,  #E4F3FF,  #9bb2d7);
	*/
	background-color: #EFEFEF;
}

.round {
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

#list-view-search-container {
	height: 2em;
	border-bottom: 1px solid #000;
	background-color: #9bb2d7;
}

#list-view-search-container input {
	margin: 0.5em auto auto 0.5em;
}

div.list-item-text{
}

.list-item-title {
	margin-left: 0.5em;
	font-size: 14pt;
	padding-top: 0.5em;
	cursor: pointer;
}

.list-item-description {
	margin-left: 0.5em;
	font-size: 10pt;
	font-style: italic;
}

div.list-item-patient-list{
	background-color: #BFBFBF;
	border-top: 1px solid #CFCFCF;
}

.list-item-patient-list ul{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
	border-top: 1px solid #CFCFCF;
}

.list-item-patient-list li{
	background-color: #BFBFBF !important;
	padding-left: 1em;
	border: 0 !important;
}

.click-to-add-procedure {
	cursor: pointer;
}

/** end list view **/

/** detail view **/

#splitview-detail-view {
	overflow: auto;
	
	background-image: url('../images/tartan_60e723a0546c1c2f71e5bc8b85a9f6ce.png');
}

#splitview-detail-view label, input {
	float: left;
}

#splitview-detail-view label {
	width: 5em;
	padding-bottom: 0.5em;
}

#detail-view-content {
	padding-left: 1em;
	overflow: auto;
}

#detail-view-content p {
}

#add-to-schedule-form {
	background-color: #FFF;
	margin: 1em;
	padding: 1em;
	border: 1px solid #000;
	min-height: 60%;
}