h2#contrast-history-box.rip #{title}
	#contrast-history-box-rip-dialog.rip-dialog
		#contrast-history-box-rip-modal.rip-modal
			input(type="text", rel="/ct/autosuggest.json/patient", name="ct-patient-autosuggest", id="ct-patient-autosuggest")
!= partial('patient', patients)