-scripts.push('app.page.viewSchedule.js')
h2#ct-patient-autosuggest-box.rip #{title}
	#ct-patient-autosuggest-box-rip-dialog.rip-dialog
		#ct-patient-autosuggest-box-rip-modal.rip-modal
			input(type="text", rel="/ct/autosuggest.json/patient", name="ct-patient-autosuggest", id="ct-patient-autosuggest").autosuggest-text
			| &nbsp;
			select(name="ct-patient-autosuggest-options", id="ct-patient-autosuggest-options").autosuggest-options
				option(value="name", selected) Search by Name&nbsp;
				option(value="mrn") Search by MRN
!= partial('patient', patients)