h2 CT
p.  Welcome to CT!  Here you you can find a list of tools so you can get your work done quickly.
ul
	li: a(href='/ct/view/schedule') View Today's Schedule
	li: a(href='/ct/edit/schedule/2011/04/15') Edit Today's Schedule
	li: a(href='/ct/view/form') View the CT Triage Form